/* Återställ några standardstilar */
body,
h1,
h2,
p,
ul,
li,
form {
  margin: 0;
  padding: 0;
}
/* Body-typografi och färgschema */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  font-size: 16px;
  color: #555;
  background-color: #f8f8f8; /* Lätt grå bakgrundsfärg */
}

.large-image {
  width: 253px; /* Justera bredden efter behov */
  height: auto; /* För att behålla proportionerna */
  margin:-100px 135px 100px; /* Justera marginalerna mellan bilderna */
}

.main-image {
  width: 320px; /* Justera bredden efter behov */
  height: auto; /* För att behålla proportionerna */
  margin: 0 auto; /* Centrera huvudbilden */
}

/* Centrera texten */
h1 {
  text-align: center;
}

/* Stilar för Navigationsfältet */
nav {
  background-color: #333;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 1em;
}

a {
  text-decoration: none;
  color: #ffd700;
  transition: color 0.3s;
}

/* Hover-effekt */
a:hover {
  color: #ffcc00; /* Byt ut denna färg mot den du önskar vid hover */
}

/* Stilar för Huvudet */
header {
  text-align: center;
  padding: 2em;
  background-color: #333;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

/* Stilar för Huvudinnehållet */
main {
  padding: 2em;
  background-color: #f8f8f8; /* Lätt grå bakgrundsfärg */
}

section {
  margin-bottom: 2em;
  border: 1px solid #ddd;
  padding: 1em;
}

/* Media query för mindre skärmar (till exempel mobil) */
@media screen and (max-width: 768px) {
  main {
    padding: 1em; /* Justera padding för mindre skärmar */
  }
}

  section {
    margin-bottom: 1em;
  }

/* Formulärtypografi */
label, input, textarea {
  font-size: 14px;
}

/* Stilar för Formuläret */
form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin: 20px;
}

label {
  grid-column: span 2; /* En label ska sträcka sig över båda kolumnerna för att centrera den */
}

input,
textarea {
  width: 100%;
  padding: 0.5em;
  box-sizing: border-box;
}

/* Stilar för Fotsektionen */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em;
}